#{extends 'main.html' /}
#{set title:'About' /}

#{menu id:"about"/}

<section class="ui segment">
<!--      <div class="ui grid">-->

<!--        <div class="four wide column"></div>-->
<!--        <h1>Heading 1</h1>-->
<!--        <p>A brief history of absolutely nothing.</p>-->

<!--        <div class="four wide column"></div>-->
<!--        <h1>Heading 2</h1>-->
<!--        <p> Contact us at the following: </p>-->

<!--        <div class="four wide column"></div>-->
<!--        <h1>Heading 3</h1>-->
<!--        <p>WeatherTop Web Application - Version X. Prepared by xyz.  </p>-->

<!--        <div class="four wide column"></div>-->
<!--        <h1>Heading 4</h1>-->
<!--        <p>WeatherTop Web Application - Version X. Prepared by xyz.  </p>-->

<!--      </div>-->


  <div class="ui equal width center aligned padded grid">
    <div class="row">
      <div class="black column">
        About Us
      </div>
      <div class="black column">
        Black
      </div>
      <div class="black column">
        About Us
      </div>
      <div class="black column">
        Black
      </div>
    </div>
<!--    <div class="row" style="background-color: #869D05;color: #FFFFFF;">-->
<!--      <div class="column">Custom Row</div>-->
<!--    </div>-->

  </div>


</section>