#{extends 'main.html' /}
#{set title:'About' /}

#{menu id:"about"/}

<section class="green ui segment">
    <h1> About WeatherTop</h1>
    <div class="green ui grid">
        <div class=" left floated column">
            <div class="green ui segment">
                <h2>Company Background</h2>
                <p>Founded in 2010, lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis aliquam purus vitae ex
                    consequat,
                    sed bibendum est congue. Phasellus finibus sem massa. Mauris luctus accumsan massa ac tristique.
                    Suspendisse elementum id quam vel egestas. Praesent nec lorem luctus, sollicitudin eros vel,
                    sodales lorem. <br>Sed id ullamcorper ligula. Vivamus tortor arcu, convallis at leo non, consectetur
                    pulvinar erat. Vestibulum sagittis elementum posuere. Sed porta varius dui, at maximus enim
                    luctus ac. Donec eu orci accumsan, pellentesque ligula quis, cursus lacus.
                </p>

                <h2>Product Offerings</h2>
                <p>
                    WeatherTop Inc. produce a modular weather station called the WeatherTop 1000. This low cost device
                    takes a set of meteorological readings and displays these on a simple LCD
                    display.</p>
                <br>
                <p>
                    Our companion web application allows users to track and analyse the weather readings from the
                    device.
                    Users can create individualized accounts and track weather readings by station location.
                </p>
                <h2>Future Enhancements</h2>
                <p>Planned future features and enhancements for WeatherTop:
                <ul style=“list-style-type:square”>
                    <li>Populate Station Dashboard with trends from historical weather reading data</li>
                    <li>Enhanced User Self Provisioning abilities</li>
                    <li>Sort Stations alphabetically</li>
                    <li>Data Validation during Weather Report submission</li>
                </ul>
                <em>If you have ideas on future features for the WeatherTop product, please let us know.</em>
                </p>
            </div>
        </div>
    </div>

</section>