#{extends 'main.html' /}
#{set title:'Admin' /}  <!-- Doesn't Appear to be working -->

<!-- Admin view providing an overview of all readings stored in the webapp database. Only accessible through /admin URL -->

#{menu id:"admin"/}

<section class="ui segment">
    <h2 class="ui header">
        All Weather Readings in the Database
    </h2>
    <table class="ui fixed table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Code</th>
            <th>Temperature</th>
            <th>Pressure</th>
            <th>Wind Speed</th>
            <th>Wind Direction</th>
        </tr>
        </thead>

        <tbody>
        #{list items:readings, as:'reading'}
        <tr>
            <td>${reading.id}</td>
            <td>${reading.date}</td>
            <td>${reading.code}</td>
            <td>${reading.temperature}</td>
            <td>${reading.pressure}</td>
            <td>${reading.windSpeed}</td>
            <td>${reading.windDirection}</td>
        </tr>
        #{/list}
        </tbody>
    </table>
</section>